body{
    background-color: #002642;
}

.hero-bg {
    height: 600px;
    background-image: url("../img/banner2.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}