body{
    background-color: #0A192F;
    color: #E6F1FF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0; /* Elimina el margen inferior despues del footer */
}

.foto-wrapper {
    width: 200px;
    height: 200px;
    position: relative;
}

.perfil-foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;

    /* Desvanecimiento en los bordes */
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

    /* Sombra sutil */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-bg {
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0A192F;
    margin-top: 15px;
    padding-top: 50px;
    align-items: center;
    vertical-align: middle;
}

.btn-primary {
    margin-top: 15px;
}

.sobre-mi-text {
    text-align: justify;       /* justifica el texto */
    text-justify: inter-word;  /* mejora la justificación en navegadores */
    max-width: 1000px;          /* limita ancho del parrafo */
    margin: 0 auto 1.5rem auto; 
    line-height: 1.7;          
    font-size: 1.05rem;        
    color: #fff;            
}

.sobre-mi h1 {
    font-weight: 700;
    color: #fff;
}

.tech-icon img {
    width: 200px;
    height: 200px;
    filter: brightness(0) invert(1); /* se deja la imagen en blanco/gris */
    transition: transform 0.3s ease, filter 0.3s ease;  /* genera la transición */
    opacity: 0.85;
}

.tech-icon img:hover {
    transform: scale(1.1); /* vuelve al color original y se aplica un pequeño zoom */
    filter: brightness(1.2) invert(0) drop-shadow(0 0 8px #a8aaae);
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}


.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.proyectos {
    /* background-color: #112240; */
    color: #E6F1FF;
}

#idProyectos {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Card general */
.card {
    width: 100%;      /* para ocupar la columna completa */
    height: 100%;     /* ocupar toda la altura disponible */
    border-radius: 10px;
    overflow: hidden;
    background-color: #112240;
    color: #E6F1FF;
    transition: transform 0.3s, 
    box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px); /* sube la card al poner el cursor encima */
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.card-img-top {
    width: 100%;
    /* height: 200px; */
    object-fit: cover;
}

/* Card body */
.card-body h5 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Botón */
.card-body .btn-primary {
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: #64FFDA;
    border: none;
    color: #0A192F;
}

.btn-primary:hover {
    background-color: #52e0c5;
    color: #0A192F;
}

.lead {
    color: #8892B0;
}

footer a {
    display: inline-block;
    margin: 0 8px;
    font-size: 1.2rem;
}

/* Responsive Tablet */
@media (max-width: 1024px) {
    .hero-bg {
        height: auto; /* deja que el contenido determine la altura */
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 0; /* eliminar margen extra debajo */
    }

    .hero-bg h1 {
        font-size: 2rem;
    }

    .hero-bg p.lead {
        font-size: 1rem;
    }

    .foto-wrapper{
        width: 150px;
        height: 150px;
    }

    .tech-icon img {
        width: 100px;
        height: 100px;
    }

    .sobre-mi {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    footer a {
        font-size: 1rem;
    }

    .card-img-top {
        height: 200px; /* imagen más pequeña en móviles */
    }

    .card-body h5 {
        font-size: 1.1rem;
    }

    .card-body p {
        font-size: 0.95rem;
    }

    .card-body .btn-primary {
        font-size: 0.9rem;
        padding: 8px;
    }
}


@media (max-width: 576px) {
    .card-img-top {
        height: 120px;
    }

    .card-body h5 {
        font-size: 1rem;
    }

    .card-body p {
        font-size: 0.9rem;
    }

    section{
        padding: 0 25px; /* Añadir un poco de padding para móviles */
    }
}

@media (min-width: 1024px) and (max-width: 1500px) {
    .hero-bg {
        height: auto;
        padding-top: 40px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .sobre-mi {
        padding-top: 40px !important;
    }
}